In [1]:
import dask.dataframe as dd
import dask.array as da
import dask.bag as db

In [2]:
uri = 'postgresql://test:test@localhost:5432/testdb'

In [7]:
ddf = dd.read_sql_table('test', uri, index_col='id')
ddf

Dask DataFrame Structure:
               operator      pc  v_tp1  v_tp2  v_tp3  v_tp4  v_tp5 test_result
npartitions=45
1                object  object  int64  int64  int64  int64  int64      object
1157778             ...     ...    ...    ...    ...    ...    ...         ...
...                 ...     ...    ...    ...    ...    ...    ...         ...
50942223            ...     ...    ...    ...    ...    ...    ...         ...
52100001            ...     ...    ...    ...    ...    ...    ...         ...
Dask Name: from-delayed, 46 graph layers

In [8]:
ddf.partitions[1]

Dask DataFrame Structure:
              operator      pc  v_tp1  v_tp2  v_tp3  v_tp4  v_tp5 test_result
npartitions=1
1157778         object  object  int64  int64  int64  int64  int64      object
2315556            ...     ...    ...    ...    ...    ...    ...         ...
Dask Name: blocks, 47 graph layers

In [6]:
ddf.v_tp1.mean().compute()

3999.5537951141305

In [6]:
ddf['test_result'].value_counts()['Pass'].compute()

test_result
Pass    47102130
Name: count, dtype: int64